<!DOCTYPE html>
<html>
<head>
    <title>Example for email horizontal scroll</title>
    <style>
        .wrapper {
            background-color: #6A1CA6;
            border: 2px solid black;
            height: 100px;
            width: 500px;
            overflow-x: scroll;
            box-sizing: border-box;
        }

        .container {
            width: 1000px;
            margin: 10px;
            color: white;
        }

    </style>
</head>

<body>
    <div class="wrapper">
        <div class="container"> Example container for horizontal scroll </div>
    </div>
</body>

</html>

